.thumbnail {
    width: 300px;
}

.sreach-bar {
    font-size: 20px;
    display: block;
}

.video-title {
    width: 300px;
}

.video-preview {
    width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 0px 6px;
}

.channel-icon{
    height: 124px;
    width: 50px;
    object-fit:cover;
    object-position: top;
}

.channel-name {

}

.view-count {

}