p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail {
    width: 300px;
}

.sreach-bar {
    font-size: 20px;
    display: block;
}

.video-preview {
    width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 0px 6px;
}

.channel-icon-div {
    display:inline-block;
    width:50px;
    vertical-align: top;
}

.channel-icon{
    width: 90%;
    border-radius: 50px;
}

.video-preview-info-div {
    display: inline-block;
    width: 200px;
}

.video-title {
    font-weight: 500;
    margin-bottom: 12px;
}

.channel-name {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 4px;
}

.view-stats {
    font-size: 14px;
    opacity: 0.7;
}