h1{
    text-align: center;
    color: #720406;
    border: 10px;
    border-color:black
}
#intro {
    background-color: blueviolet;
}
section{
    margin: 0% 0% 1px 0%;
    padding: 0% 0% 0% 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
p{
    padding: 0% 0% 0% 3%;
}
aside{
    margin: -129px 0% 0% 461px;
    padding: 0% 0% 0% 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
article{
    margin: 0% 50% 0% 0%;
    padding: 0% 0% 0% 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
#edu{
    margin: -52px 50% 0% 0%;
    padding: 0% 0% 0% 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}